.modal-container {
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 100;
}

.modal {
  width: 80vw;
  height: 80vh;
  position: fixed;
  z-index: 101;
  top: 10vh;
  left: 10vw;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: rgb(240,240,240);
  box-shadow: 0px 0px 10% 0px black;
}


.item-title-container{
  width:15%;
  height: 70%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  border-right: 1px solid rgb(200,200,200);
}

.item-content-container{
  width: calc(40% - 4em);
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2em
}


.item-photo-container{
  width: 45%;
  height: 100%;
  background-color: red;
}
